.block {
  color: rgb(57, 56, 56);
  font-family: 'Poppins', sans-serif;
  margin: 80px 0 0px;
  padding: 0% 20px;
  text-align: center;
}

.dictionary-textarea {
  font-size: 15px;
  outline: none;
  resize: none;
  outline-style: none;

}

.-berry {
  background: #b52b4a;
}

.-blue {
  background: #41ade5
}

.-purple {
  background: #6c63ff;
}

.-orange {
  background: #de6628;
}

.-green {
  background: #5e9b42;
}

.background {
  background: url(inkpic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
