.login-form {
    max-width: 400px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-image: url("../../Home/imgs/inkpic2.jpg");
    background-repeat: no-repeat;
    /* background-size:100% 100%;   */
    z-index: 99;
}


.login-container {
    position: absolute;
    top: 60px;

    max-width: 420px;
    margin: 40px auto 0;
}

.login-page .login-container .login-box {
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    padding: 40px 40px 15px 40px;
    backface-visibility: hidden;
    background: linear-gradient(30deg, rgba(53, 57, 74, 0) 0%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)', GradientType=1);
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .4);
}

.login-form-button {
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.login-form-button:hover {
    background-color: #6db6fe;
    border-color: #6db6fe;
}

.login-form-button:focus {
    background-color: #1E90FF;
    border-color: #1E90FF;
}

a {
    color: #1E90FF;
}

a:hover {
    color: #6db6fe;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus, .ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
    border: 1px solid #1E90FF;
}


.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}







